@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height:100vh;
    box-sizing: border-box;
    background-color: #1F1F1F;
    color: white;
}

.titulo-destaque{
    color: #D9B75A;
}

.apresentacao {
    margin: 10% 15%;
    display: flex;    
    align-items: center;
    justify-content: space-between;
}

.apresentacao_conteudo {
    width: 615px;
    height: 115;
    display: flex;
    flex-direction: column;
    gap: 40PX;
}

.conteudo_titulo {
    font-size: 36px;
    font-family: "Montserrat", sans-serif;
}

.conteudo_descricao {
    font-size: 36;
    font-family: "Montserrat", sans-serif;
}

.social-links {
    display: flex;
    justify-content: space-between;
}

.Links_Link {
    background-color: #D9B75A;
    width: 280px;
    padding: 15px 0;
    text-align: center;
    border-radius: 16px;
    size: 24px;
    color: #1F1F1F;
    text-decoration: none;
    font-family: 'montserrat', sans-serif;
    font-weight: 600;

}